@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --small-font-size: 12px;
  --font-size: 16px;
  --type-scale-ratio: 1.33;
  --h6-size: calc(1rem * pow(var(--type-scale-ratio), 1));
  --h5-size: calc(1rem * pow(var(--type-scale-ratio), 2));
  --h4-size: calc(1rem * pow(var(--type-scale-ratio), 3));
  --h3-size: calc(1rem * pow(var(--type-scale-ratio), 4));
  --h2-size: calc(1rem * pow(var(--type-scale-ratio), 5));
  --h1-size: calc(1rem * pow(var(--type-scale-ratio), 6));

  --primary-color: #303a64;
  --hover-color: rgb(64, 72, 110);
  --active-color: rgb(43, 48, 73);
  --accent-color: #a6cfd5;
  --primary-container-color: #f1f7f8;
  --background-color: #d4dbe4;
  --text-color: #232329;
  --secondary-text-color: #6c6c77;
  --secondary-color: #f1f7f885;
  --hover-background-color: #d4dbe41c;

  --heading-font-family: "Lora";
  --text-font-family: "Inter";
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h6 {
  font-size: var(--h6-size);
  font-family: var(--heading-font-family);
}

h5 {
  font-size: var(--h5-size);
  font-family: var(--heading-font-family);
}

h4 {
  font-size: var(--h4-size);
  font-family: var(--heading-font-family);
}
h3 {
  font-size: var(--h3-size);
  font-family: var(--heading-font-family);
}

h2 {
  font-size: var(--h2-size);
  font-family: var(--heading-font-family);
}

h1 {
  font-size: var(--h1-size);
  font-family: var(--heading-font-family);
}

p {
  font-family: var(--text-font-family);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--background-color);
  font-size: var(--font-size);
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  justify-items: stretch;
  /* align-items: center; */
  grid-template-areas:
    "sidebar header header"
    "sidebar main main"
    "sidebar main main";
}

.header {
  grid-area: header;
  background-color: var(--primary-container-color);
  padding: 12px 48px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-items: stretch;
  align-items: center;
  gap: 12px;
  grid-template-areas:
    "top"
    "bottom";
}

.top {
  grid-area: top;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.top .logo {
  height: auto;
  width: var(--h6-size);
}

.right h6:hover {
  text-decoration: underline;
  cursor: pointer;
}

#notif-logo {
  padding: 0.5rem;
}

#notif-logo:hover {
  background-color: #23232931;
  border-radius: 50rem;
  cursor: pointer;
}

.top .profile-picture {
  height: var(--h3-size);
}

.profile-picture:hover {
  outline: 3px solid var(--primary-color);
  cursor: pointer;
}

.left {
  display: flex;
  gap: var(--h6-size);
}

.top #search {
  flex-shrink: 2;
  width: clamp(185px, 40vw, 600px);
  border-radius: 50rem;
  border: none;
  background-color: var(--background-color);
  padding: 8px 1rem;
  color: var(--text-color);
}

.right {
  display: flex;
  gap: var(--h5-size);
  align-items: center;
}

.bottom {
  grid-area: bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1rem 0;
}

.welcome-text:nth-child(2) {
  font-weight: 600;
}

#main-hero {
  height: var(--h1-size);
}

.profile-picture {
  border-radius: 50%;
}

button {
  font-size: var(--h6-size);
  width: 120px;
  height: 40px;
  border-radius: 50rem;
  border: none;
  background-color: var(--primary-color);
  font-family: var(--text-font-family);
  font-weight: 500;
}

button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

button:active {
  background-color: var(--active-color);
  outline: 1px solid #232329;
}

.sidebar {
  color: var(--primary-container-color);
  grid-area: sidebar;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
}

.logo-section {
  display: flex;
  gap: 0.5rem;
}

.logo-section .material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 48px;
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  /* this is what actually resizes the icon */
}

.line-break {
  align-self: stretch;
  height: 1px;
  background-color: var(--primary-container-color);
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

li {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
}

li h6 {
  font-weight: 500;
  color: var(--secondary-color);
}

li .material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 27px;
  color: var(--secondary-color);
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 10;
  /* this is what actually resizes the icon */
}

li:hover {
  border-radius: 8px;
  background-color: var(--hover-background-color);
  cursor: pointer;
}

li:hover > .material-symbols-outlined,
li:hover > h6 {
  color: var(--primary-container-color);
  font-weight: 600;
  font-variation-settings: "FILL" 1;
}

.main {
  grid-area: main;
  /* border: 10px solid #232329; */
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "left right";
}

.main > div {
  padding: 12px 1.33rem;
  border: 5px solid #303a64;
}

.main > .left-main {
  grid-area: left;
}

.main > .right-main {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.card {
  background-color: var(--primary-container-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px #2323292d;
}

.card:hover {
  box-shadow: 5px 5px 10px #303a644b;
}

.main h5 {
  margin-bottom: 8px;
}

#announcements {
  padding: 24px;
  text-overflow: ellipsis;
  gap: 2px;
}

#announcements > .line-break {
  margin: 16px 0;
  align-self: stretch;
  height: 1px;
  background-color: var(--secondary-text-color);
}

#announcements > p {
  font-size: var(--small-font-size);
  color: var(--secondary-text-color);
}

#announcements > .title {
  font-size: var(--font-size);
  color: var(--text-color);
  font-weight: bold;
}

#announcements > .entry {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.card#trending {
  padding: 20px;
  gap: 20px;
}
.entry {
  display: flex;
  gap: 1rem;
}
.entry > img {
  height: var(--h3-size);
}

.entry-text > .title {
  color: var(--text-color);
  font-weight: 500;
}

.entry-text p {
  color: var(--secondary-text-color);
  font-size: var(--font-size);
}

.entry-text {
  display: flex;
  flex-direction: column;
}

.left-main {
  display: flex;
  flex-direction: column;
}

.grid-container {
  flex-grow: 1;
  border: 3px solid #232329;

  /* add grid here */
}

.grid-container > .card {
  padding: 1.33rem;
  border-left: 8px solid var(--accent-color);
  gap: 4px;
}

.grid-container > .card p {
  color: var(--secondary-text-color);
  margin-bottom: 1rem;
}

.card > .button-group {
  align-self: flex-end;
  display: flex;
  gap: 1.5rem;
}

.card button {
  width: 48px;
  height: 48px;
  background-color: #f1f7f8;
  color: #232329;
}

.card .material-symbols-outlined {
  font-size: var(--h5-size);
}
